   .seccion{
    position: relative;
    width: 100vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid gray;
    clear: both;
    min-height: 55vh;
    overflow: auto;
   }

    #section1 img{

        height: calc(20vw*1.2);
    }

    .card-sede{
        width: 20vw;
        position: relative;
        background-image: none; 
        
    }
    .card-sede img{
        width: 100%;
        height: 100%;
    }
    #card-sede3, #card-sede4{
        float:right;
    }
    #card-sede1, #card-sede2{
        float:left;
    }
    #card-sede1{
        margin-left:5%;
        margin-right:3%;
    }
    
    #card-sede4{
        margin-right: 3%;
    }
    
    #card-sede3{
        margin-right: 5%;
    }
    .card-sede span{
        position:absolute;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom:0px; left:0px;
        background-color:rgba(136, 19, 74, 0.4);
        padding: 0px;
        box-shadow: 2px 2px 8px #000;
        border-radius: 15px;
        color:white;
    }
    
    #section2 .sm{
        display: none;
    }
    #section2 img{
       
        float: left;
        margin-left: 20vw;
        margin-right: auto;
        width: 60vw;

    }
    #section2 .read-more{
    display: block;
        color:white;
        position: absolute;
        bottom: 7vh;
        left: 33vw;
        font-size: 4vh;
        font-family: 'Lustria', 'Serif';
        font-weight: bolder;
  
    }
    #section2 .info-turnos{
        display:none;

    }
    #section2 .read-more-sm{
        display: none;
    }

    
    @media screen and (max-width:800px ) {
        .seccion{
            min-height: 15vh;
            width:100%;
            background-color: cyan;
            clear: both;
        }
        #section1{
            margin-top: 0px;
           
        }
        .card-sede{
            float:none;
            width: 100vw;
            height: 18vh;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            border-bottom: 5px solid #88134A;
        }

        #card-sede1{
            background-image: url(./img/25-cover.jpg);
            margin-left:0%;
            margin-right:0%;
        }
        #card-sede2{
            background-image: url(./img/boratti-cover.jpg);
        }

        
        #card-sede4{
            background-image: url(./img/rioja-cover.jpg);
            margin-right: 0%;
        }
        
        #card-sede3{
            background-image: url(./img/cemeba-cover.png.jpg);
            margin-right: 0%;
        }
        
        .card-sede img{
            display: none;
        }
        .card-sede span{
            width: 100%;
            background-color:rgba(0, 0, 0, 0.3);
            box-shadow: 2px 2px 8px #000;
            border-radius: 0px;
            
        }
        #section2{
            background-color: #ebe0d9;
        }
        #section2 .bg{
            display: none;
        }
        #section2 .sm{
            display:block;
            float: left;
            margin-left: 0px;
            width: 40vw;
        }
        #section2 .read-more{
            display: none;
      
        }
        #section2 .info-turnos{
            display:block;
            font-family: 'Roboto Mono',monospace;
            color:green;
            padding: 2%;
            margin-left: 2%;
            font-size: 2vh;
            text-align: center;
            font-weight: bolder;
            
            
        }
        #section2 .read-more-sm{
            padding-top: 5%;
            float: right;
            width: 50vw;
            margin-right: 5vw;
            background-color: #ebe0d9;
            display: block;
        }
    }