body{
    background-image:linear-gradient(rgba(135,135,155,0.6), rgba(135,135,155,0.6)) , url("./img/resonancia1.jpg");
    background-size: 100% 100%;
}
footer{
    padding-left: 10px;
    padding-top: 20px;
    border: 1px solid black;
    height: 200px; 
    bottom:0;
    background-image:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,.8)) , url("./img/footerbg.jpg");
    background-size: 100% 100%;
clear: top;
}

.frame-iram{
   
    float: left;
    height: 170px;
    width: 24vw;
 
 
}
.img-frame{

    max-width: 85px;
    float: left;
}
.info-frame{
    float: left;
}
.info-iram{
 
    padding: 5px 8px;
 
    color:black;
    font-weight: bold;
 
    height: 85px;
    background-color:white;

}

.info-iram2{
    padding: 10px 28px;
    color:black;
    font-weight: normal;
    height: 85px;
    font-size: 12px;
    text-align: center;
    background-color:white;


}
.cal{
    color:#88134a;
    font-family: 'Shadows Into Light', cursive;
    font-style: italic;
    float: right;
    font-size: 20px;
    margin-right: 13px;

}

.frame-contact{
    float: left;
    height: 170px;
    width: 24vw;
}
.frame-links{
   float: left;
    height: 170px;
    width: 24vw;
  

}
.footer-list, .frame-links a{
    list-style-type: none;
    padding-top: 20px;
    color: #a5a5a5;
    font-style: italic;
    text-align: center;
 
}
@media screen and (max-width:800px ) {

 footer{
   /*  position: absolute;*/
    clear: top;
     width: 100vw;
     height: 15vh;
     background-image: none;
     background-color: black;
 
 }
 .frame-iram{
     width: 85px;
 }
 .info-frame{
     display: none;
 }
 .frame-links{
     display: none;

 }
 .frame-contact{
     float: right;
     width: 70vw;
     text-align: right;
 }
}