#contSlider{
    background-color: rgba(35,35,35,0.8);
    padding-top: 20px;
}
#slider1{
    margin-top: 110px;
   
    
    min-height:  500px;
    max-height: 500px;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
    
}

.carousel-item img{
    height: 400px;
}
.infoitem{
    background-color:rgba(136, 19, 74, 0.8);
    box-shadow: 2px 2px 8px #000;
    border-radius: 15px;
}

#sectionLocation{
    background-color: rgba(136, 19, 74, 0.8);
    box-shadow: 2px 2px 20px rgba(0,0,0,.5) inset ;
    padding-top: 15px;
    padding-left: 25%;
    padding-bottom:  30px;
}
#frameMap{
    margin-left: auto;
    margin-right: auto;
  
}


#sectionLocation h4{
    color: white;
    font-family: 'Libre Baskerville', serif;
  
    margin-left: 30px;
}